#define WIFI_SSID "your_ssid"
#define WIFI_PASSWORD "your_password"
#define BOT_TOKEN "your_bot_token"
#define CHAT_ID "your_chat_id"
//designed for an echosystem of devices
#define DEVICE_NAME "your_device_name"
